// Custom styles.
code {
  padding: 2px 4px;
//   word-wrap: break-word;
  color: $red;
  background: #fffafb;
  border: 1px solid #d6d6d6;
  border-radius: $code-border-radius;
  font-size $font-size-base;
}
.post-body .note {
    padding: 2px 15px;
}